@keyframes color-change {
    0% {
      color: blue;
      font-size: 30px;
    }

    50% {
      color: red;
      font-size: 50px;
    }

    100% {
      color: blue;
      font-size: 30px;
    }
  }
body {
    font-family: Inter, Arial  sans-serif; /* Rodzina czcionek */
    font-size: 16px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #ffffff; /* Kolor tła strony internetowej */
    color: #5988FF; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #FD98FB; /* Kolor nagłówka */
    font-size: 30px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
    transition: 1s;
}

h1:hover {
    animation: color-change 3s infinite;}

h2 {
    color: #FD98FB; /* Kolor nagłówka */
}